<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>User</h3>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-light" style="float:right;" data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="addmodel()">Add User</button>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
            <div class="col-md-3"></div>
            
            <div class="col-md-3">
                <select [(ngModel)]="sortBy" class="form-control">
                    <option value="">Select</option>
                    <option>Name</option>
                    <option>Email</option>
                    <option>Website</option>
                </select>
            </div>
            
            <div class="col-md-3">
                <input type="text" [(ngModel)]="searchText" class="form-control" />
            </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-12">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Action</th>
                </tr>

                <tr *ngFor="let user of data| search: searchText; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(i, user)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger" style="margin-left: 20px;" (click)="delete(i, user)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{isedit ? 'Edit User Details' : 'Add User'}}
                </h5>
                <span data-bs-dismiss="modal" aria-label="class" class="close-btn">X</span>
            </div>

            <div class="modal-body">
                <div class="form-box">
                    <form [formGroup]="userForm" (ngSubmit)="isedit ? update(userForm) : sendata(userForm)">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" formControlName="name" placeholder="Name" class="form-control mt-3 mb-3">
                        </div>
                        
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="email" placeholder="Email" class="form-control mt-3 mb-3">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" formControlName="phone" placeholder="Phone" class="form-control mt-3 mb-3">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" formControlName="website" placeholder="Website" class="form-control mt-3 mb-3">
                        </div>

                    
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{isedit ? 'UPDATE' : 'SUBMIT'}}</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>